.form {
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0;
    padding: 20px 0 15px;
    background: #28a745;
}

.form .input-message {
    background: #28a745;
    color: white;
}

.form .control {
    background: transparent;
    border: none;
    border-radius: 0;
    border-bottom: 1px solid #28a745;
    padding: 0;
    outline: none;
    color: #fff;
    width: 100%;
}

.form .control:focus {
    color: #fff;
    background: transparent;
    border-color: #28a745;
    outline: none;
    box-shadow: none;
}

.form .btn-primary {
    background: #28a745;
    border: none;
}

.form .btn-primary:hover {
    background: #28a745;
}

.form-row {
    width: 100%;
}

